<html>
<title>
BioLic
</title>
<header> </header>
Voce deseja:

<p>
    <a href="{%url grmetodos:metint %}"> montar uma estação</a>
  Coloque os apetrechos que fazem parte da estação
</p>
<p>
    <a href="{%url grmetodos:meatun %}"> Explicita esforço espacial e temporal em uma unidade amostral  </a>
    Ou, definir o funcionamento da estação.
  
</p>
<p>
    <a href="{%url grmetodos:met %}"> inlcuir um método  </a>
</p>
<p>
    <a href="{%url grmetodos:ape %}"> inlcuir um apetrecho </a>
</p>
<p>
    <a href="{%url grmetodos:int %}"> caracterizar um apetrecho  </a>
</p>
<body>

criar relatórios:
<p>
    <a href="{%url consultas:platrb %}"> plano de trabalho  </a>
</p>
reservado:
<p>
    <a href="{%url grmetodos:atr %}"> inlcuir um atributo</a>
 </p>
<p>
    <a href="{%url grmetodos:uni %}"> inlcuir uma unidade</a>
</p>  
<p>
    <a href="{%url grmetodos:loc %}"> inlcuir um tipo de local de amostragem </a>
</p>
<p>
    <a href="{%url grmetodos:atrest %}"> inlcuir um atributo de estação  </a>
</p>
CADASTRAR EMPRESAS E PESSOAS
<p>
    <a href="{%url grempres:cademp %}"> Cadastrar um empreendimento  </a>
</p>
<p>
    <a href="{%url grempres:cadmpa %}"> Cadastrar uma empresa  </a>
</p>
<p>
    <a href="{%url grempres:cadpes %}"> Cadastrar uma pessoa  </a>
</p>
BACKUP
<p>
    <a href="{%url grmetodos:dumpall %}"> backup total ---- EM CONSTRUCAO-- </a>
</p>
</body>
